<head>
    <link rel="stylesheet" href="~/css/Register.css">
    <link rel="stylesheet" href="~/css/Index.css">
</head>
@* 
<div class="fontBody row borderBottom">
    <div class="col-4">
        <a href="/">
            <img src="~/img/logo.png" alt="Logo" class="logo">     
        </a>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <br>
        <div class="row">
            <div class="col-6 text-right">
                
            </div>
            <div class="col-6 text-center opt2">
                <a href="/login" class="opt">Login</a>
            </div>
        </div>
    </div>
</div> *@

@* <div class="fontHead row pushTop">
    <div class="col-6">
        <h1 class="title">Don't just apply to jobs.</h1>
        <h1 class="title">Keep track and <span class="blueColor">know where you've applied</span></h1>
        <br>
        <br>
        <img src="~/img/index.jpg" alt="Image" class="image">
    </div>
    <div class="col-6">
    </div>
</div> *@

@* <div class="fontHead row pushTop">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <h1 class="title text-center">Don't just apply to jobs.</h1>
        <h1 class="title text-left">Keep track and <span class="blueColor">know where you've applied.</span></h1>
        <p class="text-center">
            <a href="/register" class="start">Get Started</a>
        </p>
    </div>
    <div class="col-md-3"></div>

</div>
<br>

<div class="text-center">
    <img src="~/img/index.jpg" alt="Image" class="image">
</div> *@

<div class="row topRow">
    <div class="col-4">
        <a href="/">
            <img src="~/img/wLogo.png" alt="Logo" class="logo">     
        </a>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>
<div class="row fontHead">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="Outer">
            <h1 class="h3PushPad">Don't just apply.</h1>
            <h5 class="h5PushAll">Keep track and <span class="blueColor">know where you've applied.</span></h5>
            <div class="Inner text-center">
                <a href="/register" class="innerBtn btn btn-primary">Get Started</a>
                <a href="/login" class="innerBtn btn btn-primary">Sign In</a>
            </div>
        </div>
    </div>
</div>