@model User

<head>
    <link rel="stylesheet" href="~/css/ThisJob.css">
    <link rel="stylesheet" href="~/css/Edit.css">
    <link rel="stylesheet" href="~/css/Account.css">
</head>

<div class="row">
    <div class="col-4">
        <a href="/home">
            <img src="~/img/logo.png" alt="Logo" class="logo">     
        </a>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <a href='/account' class="fontHead options topbtn btn btn-outline-warning text-dark">Back To Account</a>
    </div>
</div>

<br>
<br>
<br>

<div class="jumbotron fontBody">
    <h1 class="text-center fontBody heading">Update Account Password</h1>
    <br>
    <br><br>
    <form action="/saveupdatepassword" method="post">
        <div class="row">
            <div class="col-md-4">
                <span class="error1" asp-validation-for="OldPassword"></span>
                <input placeholder="Confirm old password" class="thisInput form-control" asp-for="OldPassword">
                <br>
                <br>
                <br>
                <span class="error1" asp-validation-for="Password"></span>
                <input placeholder="New password" class="thisInput form-control" asp-for="Password">
                <br>
                <span class="error1" asp-validation-for="ConfirmedPassword"></span>
                <input placeholder="Confirm new password" class="thisInput form-control" asp-for="ConfirmedPassword">
                <br>
                <input type="submit" value="Save Password" class="btn btn-outline-primary">

                <a href="/account" class="cancel">Cancel Changes</a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </form>

</div>



