@model User

<head>
    <link rel="stylesheet" href="~/css/ThisJob.css">
    <link rel="stylesheet" href="~/css/Edit.css">
    <link rel="stylesheet" href="~/css/UpdateAccount.css">
    <link rel="stylesheet" href="~/css/Account.css">
</head>

<div class="row">
    <div class="col-4">
        <a href="/home">
            <img src="~/img/logo.png" alt="Logo" class="logo">     
        </a>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <a href='/account' class="fontHead options topbtn btn btn-outline-warning text-dark">Back To Account</a>
    </div>
</div>

<br>
<br>
<br>

<div class="jumbotron fontBody">
    <h1 class="text-center fontBody heading">Update account name</h1>
    <br>
    <br><br>
    <form action="/saveupdatename" method="post">
        <div class="row">
            <div class="col-md-4">
                <span class="error1" asp-validation-for="Name"></span>
                <input placeholder="Name" class="thisInput form-control" asp-for="Name">
                <br>
                <input type="submit" value="Save Name" class="btn btn-outline-primary">
                <a href="/account" class="cancel btn btn-outline-warning text-dark">Cancel Changes</a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </form>

</div>