body{
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(255, 255, 255, 1.0) 100%), url("../img/index.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    width: 41% ;
}
.topRow{
    border-bottom: 1px solid white;
    padding-bottom: 1%;
}
.marbot{
    display: inline-block !important;
}
.textCenter{
    display: inline-block !important;
}
.opt2{
    font-size: large;
}
.pushTop{
    margin-top: 2%;
    margin-left: 5%;
}
.blueColor{
    color: #1890ff;
}
.image{
    width: 40%;
}
.image{
    border: 3px solid black;
    margin-right: 2%;
}
.start{
    font-size: large;
    transition: 0.5s;
    color: rgba(92, 115, 216, 0.877);
}
.start:hover{
    color: blue;
    font-size: x-large;
}
.Outer{
    border: 2px solid #1890ff;
    margin-top: 24%;
    margin-left: 12%;
    height: 78%;
    width: 61%;
}
.h5PushAll{
    margin-bottom: 30%;
    padding: 1rem 1rem;
    font-weight: bolder;
}
.h3PushPad{
    padding: 1rem 1rem;
    font-weight: bolder;
}
.Inner{
    border-top: 2px solid #1890ff;
}
.innerBtn{
    margin-top: 5%;
}
@media only screen and (max-width: 600px){
    .logo{
        width: 150%;
    }
    .Outer{
        margin-left: 21%;
    }
}
@media only screen and (width: 768px){
    .logo{
        width: 96%;
    }
    .Outer{
        margin-left: 30%;
        margin-top: 25%;
        width: 40%;
        height: 67%;
    }
}
@media only screen and (width: 1024px){
    .Outer{
        border: 2px solid #1890ff;
        margin-top: 38%;
        height: 77%;
        width: 82%;
    }
    .h5PushAll{
        margin-bottom: 30%;
        padding: 1rem 1rem;
        font-weight: bolder;
    }
    .h3PushPad{
        padding: 1rem 1rem;
        font-weight: bolder;
    }
    .Inner{
        border-top: 2px solid #1890ff;
    }
    .innerBtn{
        margin-top: 5%;
    }
    .logo{
        width: 83% ;
    }
}