body{
    background-image: url("../img/cwhite2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
.jumbotron{
  border: 2px solid #1890ff;
  background-color: whitesmoke;
}
.borderBottom{
  border-bottom: 2px solid white;
  padding-bottom: 1%;
}
html{
  overflow: hidden;
}

.form-control{
    outline: 0 !important;
    border-width: 0 0 1px !important;
    border-color: #1890ff !important;
    background-color: transparent;
  }
  .form-control:focus{
    border-color: black !important;
    background-color: transparent;
    color: black;
  }
.smallhr{
    width: 20%;
    background-color: red;
    height: 1px;
}
.logo{
    height: 12%;
}
.validations{
  color: red;
  font-size: small;
}
@media only screen and (max-width: 600px) {
  .logo{
    height: 62%;
  }
}