body{
    background-color: #DADADA;
    overflow-x: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    margin-top: 5%;
}
.form-control{
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
    background-color: transparent;
    margin-bottom: 9%;
}
    .form-control{
        background-color: transparent;
    }
.textArea{
    border: 1px solid #1890ff;
}
.dateIn{
    margin-bottom: 6%;
}
.dateDesc{
    color: rgb(109, 109, 109);
    font-size: small;
    margin-left: 1%;
    display: block;
}
.logo{
    width: 35%;
}
.return{
    margin-bottom: 2%;
}
.validations{
    font-size: small;
    color: red;
}
.dateVal{
    display: block;
    margin-left: 1%;
}
.position{
    margin-bottom: 7%;
}
.jumbotron{
    margin-left: 7%;
    margin-right: 7%;
    padding: 4rem 2rem;
    background-color: whitesmoke;
    margin-top: 3%;
    border: 2px solid #1890ff;
}
.colorhr{
    width: 10%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.topbtn{
    width: 100%;
}
.pushTop{
    margin-top: 19px;
}
.lowerMarBot{
    margin-bottom: 7%;
}
@media only screen and (max-width: 768px){
    .logo{
        width: 90%;
    }
}